#page-index {
  .index-left {
    .index-banner {
      margin-bottom: 20px;
      .el-card__body {
        padding: 0;
      }
    }
    .banner-pc {
      position: relative;
      cursor: pointer;
      &:hover {
        .button {
          color: #006cff;
        }
      }
      .banner-item {
        height: 300px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: auto;
        // background-position: center center;
        // background-repeat: no-repeat;
        img {
          width: 100%;
          height: auto;
        }
      }
      .manage {
        position: absolute;
        bottom: 10px;
        left: 0;
        z-index: 99;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        .pages {
          display: flex;
          justify-content: center;
          align-items: center;
          .item {
            margin: 0 5px;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            overflow: hidden;
            border: 2px solid #f4f5f5;
            background-color: transparent;
          }
          .active {
            border-color: #006cff;
          }
        }
        .button {
          cursor: pointer;
          font-size: 36px;
          color: #fff;
          &:hover {
            color: #006cff;
          }
        }
      }
    }
    .banner-m {
      .banner-item {
        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .index-right {
    padding-left: 20px;
    .com-right-hotkey {
      margin-bottom: 20px;
      .hotkey {
        font-size: 16px;
        padding-bottom: 10px;
      }
      .hotkey-list {
        .item {
          cursor: pointer;
          margin-right: 8px;
          margin-bottom: 8px;
        }
      }
    }
    .com-right-user {
      .el-card__body {
        padding: 0;
      }
      .user-list {
        color: #909399;
        .item {
          padding: 15px 20px;
          cursor: pointer;
          &:hover {
            background-color: #f4f5f5;
          }
        }
      }
    }
  }
}
