.page-index {
  .banner-pc {
    .banner-item {
      height: 300px;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .banner-m {
    .banner-item {
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }
  .manage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .pages {
      display: flex;
      justify-content: center;
      align-items: center;
      .item {
        margin: 0 5px;
      }
    }
  }
}
