.container {
  margin: 0;
}
/* kljlk */
.index-bar {
  background-color: #e9dd6e;
  color: #ee2525;
  text-align: center;
  padding: 10px 10px;
}
.index-bar:hover {
  background-color: #e3d343;
  color: #ee2525;
}
.index-header {
  padding: 10px;
  color: #3530ed;
  height: 114px;
}
.index-header .left,
.index-header .right {
  width: 24%;
}
.index-header .left {
  display: flex;
  justify-content: left;
  align-items: center;
}
.index-header .right {
  flex-direction: row-reverse;
}
.index-header-logo {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.index-header-logo img {
  display: block;
  height: 100%;
  width: auto;
}
.index-header .right .item {
  margin-left: 10px;
}
.header-banner {
  position: relative;
}

/* 定位到banner顶部的样式 */

.index-header-menu {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  position: relative;
}
.index-header-menu:focus {
  outline-color: #131314;
  outline-width: 1px;
}
.index-header-menu .item {
  height: 2px;
  width: 18px;
  left: 25px;
  margin-left: -9px;
  position: absolute;
  background: #4a00e7;
  transition: all 0.25s ease-out;
}
.index-header-menu .top {
  top: 17px;
}
.index-header-menu .center {
  top: 24px;
}
.index-header-menu .bottom {
  top: 31px;
}
.index-header-menu .top-action {
  transform: rotate(45deg);
  width: 24px;
  top: 25px;
  left: 23px;
}
.index-header-menu .center-action {
  opacity: 0;
}
.index-header-menu .bottom-action {
  transform: rotate(-45deg);
  width: 24px;
  top: 25px;
  left: 23px;
}
.index-body-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100000;
  background: none;
  display: none;
}
.index-header-i {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 10px; */
  font-size: 25px;
}
.index-swiper-item {
  height: 100vh;
  /* background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-swiper-item .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover';
}
.index-swiper-mask {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.34),
    rgba(0, 0, 0, 0.34) calc(100% - 150px),
    rgba(0, 0, 0, 0.47) calc(100% - 60px),
    rgba(0, 0, 0, 0.59)
  );
}
.index-swiper-mask .text {
  color: #fff;
  position: absolute;
}
.index-swiper-mask .right {
  right: 10px;
}
.index-swiper-mask .left {
  left: 10px;
}
.index-swiper-mask .bottom {
  bottom: 60px;
}
.index-swiper-mask .center-x {
  left: 50%;
  transform: translateX(-50%);
}
.index-swiper-mask .center-y {
  top: 50%;
  transform: translateY(-50%);
}
.index-swiper-mask .center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.index-swiper-footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding: 0 30px;
}
.index-swiper-next,
.index-swiper-prev {
  /* width: calc(var(--swiper-navigation-size)/ 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size)/ 2); */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-swiper-next,
.index-swiper-prev i {
  font-size: 18px;
  color: #fff;
}
.index-swiper-pagination .swiper-pagination-bullet {
  background: transparent;
  border: 2px solid transparent;
  border-color: #ffffff;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  margin: 0 5px;
}
.index-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

.index-content-title {
  text-align: center;
  color: #1f2021;
  margin: 0 0 12px 0;
  letter-spacing: 0;
  line-height: 1.3;
  font-size: 17px;
}
.index-content-title .h1 {
  margin-bottom: 30px;
}
.index-content-title .text-link {
  color: #a56600;
  font-weight: 400;
  font-style: oblique;
  font-family: Arapey, serif;
  font-size: 1.1875em;
  text-decoration: none;
  box-shadow: 0 1px;
}
.index-content-title .text-link:hover {
  color: #1f2021;
  text-decoration: none;
}
.com-title {
  text-align: center;
}
.com-title h2 {
  font-size: 1.875em;
  color: #1f2021;
}
.com-title-hr {
  border-top: 1px solid #1f2021;
  width: 50px;
  margin: 20px auto;
}
/* 1313 */
.production-collage--item {
  overflow: hidden;
  padding: 0 15px;
  margin-bottom: 30px;
}

.production-collage--item-wrapper {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.production-collage--item-wrapper .production-grid--item-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.8s ease;
}

.production-collage--item-wrapper .production-grid--item-overlay:after {
  content: '';
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0.25;
  background-color: #000;
  transition: all 0.8s ease;
}

.production-collage--item-wrapper .production-grid--item-overlay:hover,
.production-collage--item-wrapper .production-grid--item-overlay:focus {
  transform: scale(1.03);
}

.production-collage--item-wrapper .production-grid--item-overlay:hover:after,
.production-collage--item-wrapper .production-grid--item-overlay:focus:after {
  opacity: 0.5;
}
.index-product a {
  display: block;
  overflow: hidden;
}
.production-grid--item-title--wrapper {
  position: absolute;
  z-index: 100;
  top: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
  display: table;
  table-layout: fixed;
  color: #fff;
  cursor: pointer;
}

.production-grid--item-title--wrapper .production-grid--item-title {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  font-size: 2.125em;
  text-align: center;
  font-style: italic;
}
.grid--image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
}
.index-production-price-height {
  min-height: 520px;
}
.index-product-space {
  padding: 15px;
  height: 100%;
  overflow: hidden;
}
.index-production-price .price-item {
  display: block;
  width: 100%;
  /* overflow: hidden; */
  display: flex;
  flex-direction: column;
  position: relative;
}
.index-production-price .one .price-item .content {
  min-height: 650px;
}
.index-production-price .two .price-item .content {
  height: 325px;
}
.index-production-price .price-item .content {
  background-color: #f6f6f6;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index-production-price .price-item .content img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  /* transition: all 0.8s ease; */
  opacity: 1;
}
.index-production-price .price-item .content img:hover {
  opacity: 0.9;
  /* transform: scale(1.03); */
}
.index-production-price .price-item .title {
  min-height: 57px;
  text-align: center;
  color: #1f2021;
}
.index-production-price .price-item .title .title-name {
  font-style: italic;
  font-size: 1.25em;
}
.index-production-price .price-item .title .title-hr {
  margin: 0 4px;
  font-size: 12px;
}
.index-production-price .price-item .title .title-price {
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.875em;
}
.index-production-price .price-item .badge {
  position: absolute;
  left: -8px;
  top: -8px;
  min-width: 50px;
  border-radius: 23px;
  padding: 12px 8px 10px 9px;
  border: 1px solid #a56600;
  color: #a56600;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 1px;
}
.index-comparison-img {
  width: 100%;
  padding: 0 10px;
}
.index-comparison-img img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.index-comparison-right {
  padding: 0 25px 0 35px;
}
.index-comparison-right .title {
  font-size: 42px;
  text-align: center;
  line-height: 1.2;
}
.index-comparison-right .price {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
}
.index-comparison-right .price .left {
  text-decoration: line-through;
  margin: 0 3px;
}
.index-comparison-right .price .right {
  margin: 0 3px;
  color: #a56600;
}
.index-comparison-right .selsect-list {
  padding: 15px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.index-comparison-right .selsect-list .item {
  display: inline-block;
  padding: 9px 11px;
  margin: 3px 4px 7px 3px;
  border: 1px solid #fff;
  color: #1f2021;
  cursor: pointer;
}
.index-comparison-right .selsect-list .action {
  border-color: #1f2021;
  background-color: #f2f2f2;
}
.index-comparison-right-button {
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}
.index-comparison-right-button .main {
  padding: 10px;
}
.index-comparison-right-button .button {
  border: 1px solid #1f2021;
  min-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.index-comparison-right-button .right .button {
  background-color: #1f2021;
  color: #fff;
}
.index-comparison-right .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.index-comparison-right .detail a {
  color: #a56600;
}
.index-comparison-right .detail a span {
  margin-right: 5px;
}
.index-comparison-right .share {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
  line-height: 1;
}
.index-comparison-right .share .item {
  margin: 0 5px;
  display: flex;
  align-items: top;
}
.index-comparison-right .share .item i {
  margin-right: 5px;
}
/* 订阅 */
.index-newsletter {
  background-color: #f6f6f6;
}
.index-newsletter .email {
  padding: 60px 0;
  text-align: center;
}
.index-newsletter .email .hr1 {
  margin-bottom: 80px;
  margin-top: 35px;
}
.index-newsletter .email h2 {
  margin-bottom: 10px;
}
.index-newsletter .email .form {
  justify-content: center;
}
.index-newsletter .email .form .main {
  padding: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
}
.index-newsletter .email .form .main .left {
  flex: 1 1 auto;
}
.index-newsletter .email .form .main .left input {
  width: 100%;
  border: none;
  height: 43px;
  line-height: 43px;
  padding-left: 10px;
  font-size: 23px;
  font-style: oblique;
  font-family: Arapey, serif;
}
.index-newsletter .email .form .main .sumbit {
  flex: 0 1 auto;
  overflow: hidden;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  padding: 0 10px;
  background-color: #1f2021;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}
.index-newsletter .email .form .main .sumbit:hover {
  opacity: 0.9;
}

.index-footer .hr1 {
  margin: 60px auto;
}
.index-footer-title .right,
.index-footer-title .left {
  margin-bottom: 15px;
}
.index-footer-img .left,
.index-footer-img .right {
  margin-bottom: 30px;
}
.index-footer-img .left .uls .item {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 10px;
}
.index-footer-img .left .uls .item img {
  display: block;
  width: 30px;
  height: auto;
}
.index-footer-title .right {
  text-align: right;
}
.index-footer-img .right .ant-row {
  flex-direction: row-reverse;
}
.index-footer-img .right .item {
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}
.index-footer-img .right img {
  width: 100%;
  height: auto;
}
.index-footer-by {
  margin-bottom: 50px;
  margin-top: -60px;
}

.index-body {
  transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
}
.index-body-left-action {
  transform: translateX(300px);
}
.index-body-right-action {
  transform: translateX(-300px);
}
/* 抽屉 */
.index-drawer-body {
  position: fixed;
  top: 0;
  z-index: 999;
  color: #fff;
  width: 300px;
  height: 100vh;
  background-color: #1f2021;
  max-width: 85%;
  overflow-y: auto;
  box-shadow: 6px 0 16px -8px rgba(0, 0, 0, 0.08),
    9px 0 28px 0 rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.03);
  transition: all 0.35s cubic-bezier(0.46, 0.01, 0.32, 1);
  padding: 25px 30px;
}
.index-drawer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.index-drawer-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  opacity: 1;
  pointer-events: auto;
}

.index-drawer-left {
  left: -300px;
}
.index-drawer-left-action {
  transform: translateX(300px);
}
.index-drawer-right {
  right: -300px;
}
.index-drawer-right-action {
  transform: translateX(300px);
  right: 300px;
}

.index-drawer-body .content {
  outline-color: #fff;
  outline-width: 1px;
  height: 63px;
  display: flex;
  align-items: center;
}
.index-drawer-body .item .title {
  font-size: 22px;
  color: #fff;
  height: 100%;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  word-wrap: break-word;
  word-break: break-all;
  overflow: auto;
  padding-right: 10px;
}
.index-drawer-body .item .title:focus {
  background-color: #131314;
  outline: none;
}
.index-drawer-body .icon {
  width: 45px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 1px;
  border: none;
  background-color: #1f2021;
  cursor: pointer;
}
.index-drawer-body .icon:focus {
  outline: 1px solid #fff;
}
/* .index-drawer-body .icon:focus-within {
  outline: 1px solid #fff;
} */
.index-drawer-body .children {
  padding-left: 10px;
  display: none;
}
.index-drawer-body .item-foot {
  width: 100%;
  height: 40px;
}
.index-drawer-body .item-foot .title {
  overflow: hidden;
  font-size: 16px;
  color: #bfbfbf;
  line-height: 1.2;
  padding-top: 10px;
  padding-bottom: 10px;
}
.index-drawer-body .item-foot .title:hover {
  color: #fff;
}
/* 搜索弹窗 */
.index-dialog-search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 100;
  display: none;
}
.index-dialog-search .close {
  display: flex;
  flex-direction: row-reverse;
}
.index-dialog-search .close button {
  width: 44px;
  height: 44px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #fff;
  font-size: 25px;
  cursor: pointer;
}
.index-dialog-search .dialog-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 45px;
}
.index-dialog-search .left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 245px;
  max-width: 60%;
}
.index-dialog-search input {
  height: 45px;
  width: 100%;
  background-color: #f6f6f6;
  line-height: 43px;
  border: none;
  padding-left: 10px;
  font-size: 18px;
  font-style: oblique;
  font-family: Arapey, serif;
}
.index-dialog-search input:focus {
  outline-color: #131314;
  outline-width: 1px;
}
.index-dialog-search .sumbit {
  overflow: hidden;
  width: 56px;
  height: 45px;
  line-height: 45px;
  white-space: nowrap;
  padding: 0 10px;
  background-color: #1f2021;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.index-dialog-search .sumbit:hover {
  opacity: 0.9;
}
